@page "/dashboard"
@using Syncfusion.Blazor.Kanban
@using Task.DTO
@using Task.Interfaces
@using Task.Models
@using Task.Services
@inject IJSRuntime JS
@inject ITaskItem _taskService
@inject Supabase.Client supabase


<!-- Header -->
<header class="header">
    <div class="header-left">
        <h1 class="page-title">Dashboard</h1>
        <span class="page-subtitle">Visão geral dos projetos</span>
    </div>
    <div class="header-right">
        <button class="btn btn-secondary">Filtros</button>
        <button class="btn btn-primary">Nova Tarefa</button>
    </div>
</header>

<SfKanban TValue="TaskItemDTO" KeyField="StatusString" DataSource="TasksInfo" AllowKeyboard="true" AllowDragAndDrop="true">
    <KanbanColumns>
        <KanbanColumn HeaderText="To Do" KeyField="@(new List<string>() {"Open"})"></KanbanColumn>
        <KanbanColumn HeaderText="Doing" KeyField="@(new List<string>() {"InProgress"})"></KanbanColumn>
        <KanbanColumn HeaderText="Done" KeyField="@(new List<string>() {"Testing"})"></KanbanColumn>
        <KanbanColumn HeaderText="Archived" KeyField="@(new List<string>() {"Close"})"></KanbanColumn>
    </KanbanColumns>
    <KanbanCardSettings  ShowHeader="true" HeaderField="Title" ContentField="Description"></KanbanCardSettings>
</SfKanban>




@code {


    public List<TaskItemDTO> TasksInfo { get; set; } = new List<TaskItemDTO>();

    protected override async Task OnInitializedAsync()
    {

        var tasks = await _taskService.GetAllTasks();
        Console.WriteLine($"TASKS HERE: {tasks.Count}");
        TasksInfo = tasks;


    }

}