@page "/dashboard"
@using Syncfusion.Blazor.Kanban
@using Task.DTO
@using Task.Models
@inject IJSRuntime JS


<!-- Header -->
<header class="header">
    <div class="header-left">
        <h1 class="page-title">Dashboard</h1>
        <span class="page-subtitle">Visão geral dos projetos</span>
    </div>
    <div class="header-right">
        <button class="btn btn-secondary">Filtros</button>
        <button class="btn btn-primary">Nova Tarefa</button>
    </div>
</header>

    <SfKanban TValue="TasksModel" KeyField="Status" DataSource="Tasks">
        <KanbanColumns>
            <KanbanColumn HeaderText="To Do" KeyField="@(new List<string>() {"Open"})"></KanbanColumn>
            <KanbanColumn HeaderText="In Progress" KeyField="@(new List<string>() {"InProgress"})"></KanbanColumn>
            <KanbanColumn HeaderText="Testing" KeyField="@(new List<string>() {"Testing"})"></KanbanColumn>
            <KanbanColumn HeaderText="Done" KeyField="@(new List<string>() {"Close"})"></KanbanColumn>
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Title" ContentField="Summary"></KanbanCardSettings>

    </SfKanban>


@code {

    private List<TasksModel> Tasks = new List<TasksModel>()
    {
        new TasksModel { Id = "1", 
            Title = "Tarefa 1", 
            Status = "Open", 
            Summary = "Resumo da tarefa 1",
            Assignee = "Homem teste",
            CardTags = new List<string>() {"Analyze", "Costumer"},
            Color = "#8b447a"
        },
            
        new TasksModel { Id = "2", Title = "Tarefa 2", Status = "Open", Summary = "Resumo da tarefa 2" }
    };

    public class TasksModel
    {
        public string Id { get; set; }
        public string Title { get; set; }
        public string Status { get; set; }
        public string Summary { get; set; }
        public string Assignee { get; set; }
        public string Color { get; set; }
        public List<string> CardTags { get; set; }
    }

}
